@import "./variables";

.about-section {
    position: relative;
    height: 90%;
    margin: 0px 278px 0 259px;
    @include addSectionBoxShadow;
    margin-bottom: 100px;

    .profile {
        display: flex;
        align-items: center;

        &-img {
            width: 100%;
            height: 500px;
            background: black;
            margin-right: 50px;
        }

        .profile-details {

            &-name {
                font-size: 2rem;
                margin-bottom: 10px;
            }

            &-title {
                font-size: 1.25rem;
                margin-bottom: 40px;
            }

            &-desc {
                line-height: 1.5em;
                margin-bottom: 50px;
            }

            &-btns > button {
                padding: 10px 20px;
                border-radius: 20px;
                border: 2px solid black;
                background: #fff;
                font-weight: bold;
                letter-spacing: .05em;
                transition: all .3s;

                &:hover {
                    cursor: pointer;
                    background: $gray-accent;
                    color: #fff;
                }
            }

            &-contact {
                display: flex;
                flex-direction: column;

                p {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 30px;
                    }
                }

                [class="material-symbols-outlined"] {
                    margin-right: 5px;
                }
            }
        }
    }
}

.left-corner-decoration {
    width: 0;
	height: 0;
	border-left: 150px solid #555;
	border-bottom: 150px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.right-corner-decoration {
    width: 0;
	height: 0;
	border-right: 150px solid #555;
	border-top: 150px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0px;
}